<!-- Jumbotron style for the heading -->
<div class="container pt-4">
  <img src="images/airport.jpeg" class="card-img-top rounded" alt="Sunglasses on the sand">
</div>

  <div class="container">
    <div class="">
      <span class = "lead d-flex justify-content-between align-items-center">
        <h1 class="display-4 mt-3 ">Wanderlust </h1>
      <a href="/trips/new" class="btn btn-info">Plan A New Trip</a>
      </span>
      <p class="lead d-flex justify-content-between">Quit your job, buy a ticket, get a tan fall in love, never return
        <button type="button" class="btn btn-warning"><%= link_to 'Reviews', reviews_path, :class => "text-white" %></button>
      </p>
    </div>

<div class="container">
  <div class="row">
    <% @trips.each do |trip| %>
    <br>
    <div class="col-sm-3 py-4">
      <div class="card text-center">
        <img src="https://images.unsplash.com/photo-1515622472995-1a06094d2224?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQ0MTA5fQ&auto=format&fit=crop&w=500&q=80" class="card-img-top" alt="Suitcase with Camera">
        <div class="card-body">
          <h5 class="card-title"><%= trip.name %></h5>
          <p class="card-text"><%= trip.start_date.strftime("%B %-d, %Y")%></p>
          <!-- Link to the countries show page -->
          <a href="/trips/<%=trip.id%>" class="btn btn-dark">Proceed to Gate</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
