<body class=login_page>
<div class="login_container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">
        <div class="form-login"><br>
          <h4>Login</h4>
          <br>
          <%= form_tag sessions_path do %>
          <div class="form-group">
            <%= text_field_tag :name, "", {:class => "form-control input-sm chat-input", :placeholder => "Username"}%>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, "", {:class => "form-control input-sm chat-input", :placeholder => "Password"}%>
          </div>
          <div class="form-group">
            <%= submit_tag "Sign In", {class: "btn btn-secondary"}  %>
          </div>
            <% end %>
          </div>
      </div>
    </div>
</div>
</body>
<footer>
  <div class="footer_login" class="text-dark text-center">
      <p>© 2019 Flatiron School - London. All rights reserved | Design by Lauren and Amari</p>
  </div>
</footer>
