<!-- Jumbotron style for the heading -->
<div class="container pt-4">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome To Asia</h1>
    <p class="lead">Sum up touring Asia in a paragraph? Good luck. Positively massive by just about every measure, the sole thread that unites this diverse continent is the sheer diversity of experiences it presents to travellers.</p>
  </div>
</div>
<!-- Each statment to print out a card style box for each continent with image. -->
<div class="container">
  <br>
  <div class="row">
    <% @asia.each do |country| %>
    <br>
    <div class="col-sm-3 pt-4">
      <div class="card text-center">
        <img src="<%= Country.country_image(country)%>" class="card-img-top" alt="European City">
        <div class="card-body">
          <h5 class="card-title"><%= country %></h5>
          <p class="card-text"><%= Country.country_information(country)%></p>
          <!-- Link to the countries show page -->
          <a href="/countries/<%=Country.find_by(name: country).id%>" class="btn btn-warning">Show Me More</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
